{% extends '@!ArkounayQuickAdminGenerator/base.html.twig' %}

{% block user_menu_dropdown_homepage %}
    <a class="dropdown-item" href="/">
        {{ qag_render_icon('brand-github', 50, 44, 'icon dropdown-item-icon') }}
        Bundle Repository
    </a>
{% endblock %}