<table class="table border-bottom">
    <tbody>
        <tr>
            <th>Number of articles</th>
            <td>{{ all_articles_count }}</td>
        </tr>
        <tr>
            <th>Published articles</th>
            <td>{{ published_articles_count }}</td>
        </tr>
        <tr>
            <th>Unpublished articles</th>
            <td>{{ unpublished_articles_count }}</td>
        </tr>
    </tbody>
</table>